# Режим отладки (true или false)
DEBUG=true

# Секретный ключ приложения
SECRET_KEY=your_secret_key_here

# Настройки DeepSeek (или альтернативной инсталляции, например, BotHub)
DEEPSEEK__API_KEY=your_deepseek_api_key_here
DEEPSEEK__BASE_URL=https://api.deepseek.com/v1
DEEPSEEK__MAX_CONNECTIONS=5
DEEPSEEK__TIMEOUT=30

# Настройки Unsplash
UNSPLASH__API_KEY=your_unsplash_access_key_here
UNSPLASH__MAX_CONNECTIONS=5
UNSPLASH__TIMEOUT=20
